extends ../shared/template

block content
  h1 New Country

    .row
        .col-xs-6
          form(action= '/country', method='post')
            .form-group
              label Name
              input.form-control(type='text', name='name', value='SPAIN')
            .form-group
              button.btn.btn-primary(type='submit')= 'Create'
        .col-xs-6
